* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #222;
  color: #fff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  background: #111;
  margin: 6px 0;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
}
input:focus {
  background: #000;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 6px 0;
}
.price input {
  width: 18%;
  margin: 0;
}
#total {
  background: #6a0a03;
  padding: 8px;
  border-radius: 4px;
  width: 18%;
  text-align: center;
  font-weight: bold;
}

button {
  width: 100%;
  height: 35px;
  border: none;
  cursor: pointer;
  background: #4a0072;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
  margin: 6px 0;
}
button:hover {
  background: #a83fd1;
  letter-spacing: 1px;
}

.btnSearch {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.btnSearch button {
  width: 49%;
}
table {
  width: 100%;
  text-align: center;
  margin: 15px 0;
  border-collapse: collapse;
}
table th {
  text-transform: uppercase;
  padding: 10px 5px;
  font-size: 14px;
}
th,
td {
  padding: 10px 5px;
}

#deleteall {
  margin: 20px 0;
}
